---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HeroSection from '../components/HeroSection.astro';
import ProductGrid from '../components/ProductGrid.astro';
import BenefitsSection from '../components/BenefitsSection.astro';
import TestimonialsSection from '../components/TestimonialsSection.astro';
import CallToAction from '../components/CallToAction.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Zoros.io - Developer-First Cybersecurity APIs">
  <Navbar />
  <main>
    <HeroSection />
    <ProductGrid />
    <BenefitsSection />
    <TestimonialsSection />
    <CallToAction />
  </main>
  <Footer />
</Layout>
